@charset "utf-8";

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/* ad */
.h_adbg{
    width: 100%;
    height: 80px;
    background-color: #7A8BB7;
}
.h_ad {
    width: 980px;
}

/* header */
.header {
    width: 100%;
    height: 150px;
    background-color: black;
}
#h_wrap {
    width: 1100px;
    height: 150px;
}
.h-bar {
    overflow: hidden;
}
.left {
    float: left;
    height: 30px;
    margin-top: 25px;
}
.left li {
    float: left;
    margin-right: 30px;
}
.right {
    float: right;
    height: 30px;
    margin-top: 25px;
}
.right li{
    float: left;
    margin-left: 30px;
}
.left li a, .right li a {
    font-size: 14px;
}

/* gnb */
.nav {
    width: 734px;
    height: 65px;
    text-align: center;
    margin-top: 25px;
}
.mainmenu > li {
    float: left;
    width: 120px;
    height: 65px;
    margin-right: 15px;
    text-align: center;
    position: relative;
}
.mainmenu > li:nth-child(3) {
    width: 200px;
    margin-right: -6px;
}
.mainmenu > li:nth-child(5) {
    margin-right: 0;
}
.mainmenu > li > a {
    font-size: 20px;
    height: 65px;
    line-height: 80px;
    display: block;
}
.mainmenu > li > a:hover {
    font-size: 24px;
}
.mainmenu > li:nth-child(3) > a {
    padding: 0;
}
.submenu {
    display: none;
    width: 200px;
    height: 190px;
    position: absolute;
    z-index: 20;
    background-image: url('main-img/bg_submenu.png');
    top: 65px;
    left: -40px;
    padding-top: 5px;
}
.submenu > li {
    width: 200px;
    height: 45px;
    line-height: 45px;
}
.submenu > li > a {
    display: block;
    font-size: 16px;
    /* text-align: left; */
}
.submenu > li > a:hover {
    color: red;
}

/* hero */
#bg_hero {
    width: 100%;
    height: 740px;
    background-color: black;
}
.hero {
    width: 1100px;
    height: 740px;
    margin: 0 auto;
    background-image: url('main-img/cutton.png');
    background-size: cover;
}
.hero h2 {
    text-align: center;
    padding-top: 92px;
}
.lights {
    width: 1074px;
    position: absolute;
}
.hero-imgs {
    width: 772px;
    height: 440px;
    margin-top: 46px;
    position: relative;
}
.hero-imgs li {
    float: left;
    width: 250px;
    height: 360px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.7);
    position: absolute;
    z-index: 5;
    bottom: 0;
}
.hero-imgs > li:nth-child(1) {
    left: 0;
}
.hero-imgs > li:nth-child(2) {
    width: 304px;
    height: 440px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.hero-imgs > li:nth-child(3) {
    right: 0;
}
.hero-imgs a img {
    width: 100%;
    height: 100%;
}

/* ticket */
#bg_ticket {
    width: 100%;
    height: 100px;
    background-color: #1e1a19;
}
.ticket {
    width: 1100px;
    height: 100px;
    margin: 0 auto;
}
.ticket li {
    float: left;
    width: 200px;
    margin-top: 40px;
    border-right: 2px solid #555;
    box-sizing: border-box;
}
.ticket li a {
    text-align: center;
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #bbb;
}
.go {
    float: right;
    width: 150px;
    height: 67px;
    background-color: #5e5757;
    border: 2px solid #c4c4c4;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 15px;
}

/* event */
.container {
    background-color: black;
}
#event {
    width: 1100px;
    margin: 0 auto;
}
#event h2 {
    padding: 55px 0;
    text-align: center;
}
.event-imgs {
    height: 498px;
    overflow: hidden;
}
.event-imgs-left {
    width: 755px;
    height: 498px;
    float: left;
    margin-right: 15px;
}
.event-imgs-left li {
    background-color: #555;
    float: left;
}
.event-imgs-left li:nth-child(1) {
    width: 200px;
    height: 242px;
    overflow: hidden;
    margin-right: 15px; 
}
.event-imgs-left li:nth-child(2) {
    width: 540px;
    height: 242px;
}
.event-imgs-left li:nth-child(3) {
    width: 540px;
    height: 242px;
    margin: 15px 15px 0 0;
}
.event-imgs-left li:nth-child(4) {
    width: 200px;
    height: 242px;
    margin-top: 15px;
}
.event-imgs-right {
    width: 328px;
    height: 498px;
    float: left;
    background-color: #555;
}

/* event_nav */
#event_nav {
    clear: both;
    width: 1100px;
    margin: 55px auto;
    overflow: hidden;
}
#event_nav li {
    float: left;
}
#event_nav li:nth-child(1) {
    margin-left: 80px;
}
#event_nav li:nth-child(2) {
    margin: 0 204px;
}
#event_nav li:nth-child(3) {
    margin-right: 204px;
}
#event_nav li a {
    display: block;
}
#event_nav li a img {
    width: 80px;
    margin-bottom: 20px;
}
#event_nav li:nth-child(1) a img {
    padding: 4px 0;
}
#event_nav li:nth-child(2) a img {
    padding: 11px 0;
}
#event_nav li a p {
    text-align: center;
}

/* comingsoon */
#bg_comingsoon {
    clear: both;
    width: 100%;
    height: 590px;
    background-image: url('main-img/block.png');
    background-size: cover;
    background-position: -20px; 
}
.comingsoon {
    width: 1100px;
    margin: 0 auto;
}
.comingsoon h2 {
    padding: 55px 0;
    text-align: center;
} 
.comingsoon-imgs {
    width: 1100px;
    height: 310px;
}
.comingsoon-imgs li {
    float: left;
    width: 218px;
    height: 310px;
    background-color:#555;
    margin-left: 76px;
}
.comingsoon-imgs li:nth-child(1) {
    margin-left: 0;
}

/* notice */
#border_notice {
    width: 100%;
    height: 63px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    margin-top: 76px;
}
.notice {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}
.notice > span, .notice-list {
    float: left;
    height: 63px;
    line-height: 63px;
}
.notice > span {
    margin-left: 10px;
}
.notice > span::after {
    content: '|';
    display: inline-block;
    margin: 0 15px;
}
.notice-list li a {
    width: 910px;
    display: block;
}
.notice-list li a span {
    float: right;
}
.notice button {
    height: 63px;
    line-height: 63px;
    float: right;
    background: none;
    border: none;
}

/* fnb */
#fnb {
    width: 1100px;
    margin: 80px auto 0;
    padding-bottom: 80px;
    overflow: hidden;
}
#fnb li {
    float: left;
    width: 130px;
    height: 100px; 
    margin-left: 150px;
    text-align: center;
}
#fnb li:nth-child(1) {
    margin-left: 65px;
}
#fnb li a {
    display: block;
}
#fnb li a img {
    width: 50px;
    margin-bottom: 20px;
}
#fnb li:nth-child(2) a img {
    padding: 7px 0;
}
#fnb li:nth-child(3) a img {
    padding: 5px 0;
}
#fnb li:nth-child(4) a img {
    padding: 3px 0;
}

/* footer */
#ad_bg {
    width: 100%;
    height: 200px;
    background-color: #dbeaff;
    position: relative;
}
.ad-img {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}
#footer_bg {
    width: 100%;
    height: 180px;
    background-color: #555;
}
.footer {
    width: 1100px;
    height: 150px;
    margin: 0 auto;
    background-color: #555;
}
.footer1 li {
    float: left;
    margin: 10px;
    font-size: 14px;
    margin-top: 30px;
}
.footer2 {
    margin-top: 30px;
}
.footer2 p {
    font-size: 12px;
    float: left;
    line-height: 20px;
    text-align: left;
}
.footer2 p a {
    display: inline-block;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 3px 5px;
    margin-left: 10px;
}
.flogo {
    float: left;
    margin-right: 20px;
}
.sns {
    float: right;
    margin-top: 30px;
}
.sns li {
    float: left;
    margin: 15px;
    margin-bottom: 20px;
}
.f-site optgroup, .f-site option {
    color: black;
}
.f-site {
    /* margin-left: 50px */
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 12px;
    background: none;
}
.sns p {
    /* margin-left: 50px; */
    font-size: 12px;
    margin-top: 10px;
}



