@charset "utf-8";

@font-face {
    font-family: 'Pretendard-ExtraLight';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Pretendard-ExtraLight';
    font-size: 16px;
}

/* ad */
.h_adbg{
    width: 100%;
    height: 80px;
    background-color: #7A8BB7;
}
.h_ad {
    width: 980px;
}

/* header */
.header {
    width: 100%;
    height: 150px;
    background-color: black;
}
#h_wrap {
    width: 1100px;
    height: 150px;
}
.h-bar {
    overflow: hidden;
}
.left {
    float: left;
    height: 30px;
    margin-top: 25px;
}
.left li {
    float: left;
    margin-right: 30px;
}
.left li a:hover, .right li a:hover {
    color: #888;
}
.right {
    float: right;
    height: 30px;
    margin-top: 25px;
}
.right li{
    float: left;
    margin-left: 30px;
}
.left li a, .right li a {
    font-size: 14px;
}

/* gnb */
.nav {
    width: 734px;
    height: 65px;
    text-align: center;
    margin-top: 25px;
}
.mainmenu > li {
    float: left;
    width: 120px;
    height: 65px;
    margin-right: 15px;
    text-align: center;
    position: relative;
}
.mainmenu > li:nth-child(3) {
    width: 200px;
    margin-right: -6px;
}
.mainmenu > li:nth-child(5) {
    margin-right: 0;
}
.mainmenu > li > a {
    font-size: 20px;
    height: 65px;
    line-height: 80px;
    display: block;
}
.mainmenu > li > a:hover {
    font-size: 24px;
}
.mainmenu > li:nth-child(3) > a {
    padding: 0;
}
.submenu {
    display: none;
    width: 200px;
    height: 190px;
    position: absolute;
    z-index: 20;
    background-image: url('../main-img/bg_submenu.png');
    top: 65px;
    left: -40px;
    padding-top: 5px;
}
.submenu > li {
    width: 200px;
    height: 45px;
    line-height: 45px;
}
.submenu > li > a {
    display: block;
    font-size: 16px;
    /* text-align: left; */
}
.submenu > li > a:hover {
    color: red;
}

/* subnav */
#bg_subnav {
    width: 100%;
    height: 40px;
    background-color: #1E1A19;
}
.subnav {
    width: 1100px;
    height: 40px;
    line-height: 40px;
}
.subnav li {
    float: left;
}
.subnav li a {
    font-size: 14px;
    display: block;
}
.home {
    width: 18px;
    height: 18px;
    line-height: 45px;
}
.home a img {
    width: 100%;
}
/* .subnav li:nth-child(2) span {
    margin: 5px 10px 0;
} */

.subnav li a span {
    margin: 0 10px;
}

/* contents */
.wrap{
    width: 100%;
    height: 100%;
    background-color: #000;
}
#content{
    width: 1100px;
    height: 5000px;
}
.detail_title{
    width: 1100px;
    height: 155px;
    border-bottom: 1px solid #333;
}
.title{
    float: left;
    width: 1100px;
    height: 60px;
    font-size: 28px;
    margin-top: 45px;
}
.date{
    height: 40px;
    float: left;
}
.imgbox{
    width: 1100px;
    height: 4597px;
    margin-top: 35px;
    border-bottom: 1px solid #333;
}

.top_btn{
    float: right;
    width: 45px;
    height: 45px;
    margin-top: 130px;
}

/* footer */
#ad_bg {
    width: 100%;
    height: 200px;
    background-color: #dbeaff;
    position: relative;
}
.ad-img {
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
}
#footer_bg {
    width: 100%;
    height: 180px;
    background-color: #555;
}
.footer {
    width: 1100px;
    height: 150px;
    margin: 0 auto;
    background-color: #555;
}
.footer1 li {
    float: left;
    margin: 10px;
    font-size: 14px;
    margin-top: 30px;
}
.footer1 li:hover {
    color: #bbb;
}
.footer2 {
    margin-top: 30px;
}
.footer2 p {
    font-size: 12px;
    float: left;
    line-height: 20px;
    text-align: left;
}
.footer2 p a {
    display: inline-block;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 3px 5px;
    margin-left: 10px;
}
.footer2 p a:hover {
    background-color: white;
    color: #555;
    font-weight: 700;
    transition: all 0.2s;
}
.flogo {
    float: left;
    width: 120px;
    height: 58px;
    margin-right: 20px;
}
.flogo img {
    width: 100%;
}
.sns {
    float: right;
    margin-top: 30px;
}
.sns li {
    float: left;
    margin: 15px;
    margin-bottom: 20px;
}
.f-site optgroup, .f-site option {
    color: black;
}
.f-site {
    /* margin-left: 50px */
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 12px;
    background: none;
}
.sns p {
    /* margin-left: 50px; */
    font-size: 12px;
    margin-top: 10px;
}